# ignore everything
*

# allow folders
!*/

# allow python + a few basics
!*.py
!.gitignore
!README.md
!*.md

# allow project config files
!requirements*.txt
!.env.example
!Makefile
!*.bat

# common python junk
.venv/
__pycache__/